$background-dark-blue: hsl(207, 26%, 17%);
$background-light-gray: hsl(0, 0%, 98%);

$text-black: hsl(200, 15%, 8%);
$text-gray: hsl(0, 0%, 52%);

$dark-blue: hsl(209, 23%, 22%);
$white: hsl(0, 0%, 100%);