:root {
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
}

:root.dark-theme {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --icon-fill: hsl(0, 0%, 100%);
  --header-color: hsl(209, 23%, 22%);
  --shadow: hsla(0, 0%, 96%, .2) 0 0 8px;
}

:root:not(.dark-theme) {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --icon-fill: transparent;
  --header-color: hsl(0, 0%, 100%);
  --shadow: hsla(210, 8%, 62%, 20%) 0px 8px 24px;
  --gray: hsl(0, 0%, 52%);
}